<html>
	<head>
		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content=width=device-width, initial-scale=1">
		<!-- CSS only 
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		-->
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		
		<title>HTML Video Player</title>
	</head>
	
	<body>
	
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">My Scratchpad</a>
				</div>
			</div>
		</nav>
		
		<div class="container">
		
		<!--
		{% for comment in comments %}
			<div class="row">
				{{comment.content}}
			</div>
		{% endfor %}
		-->
		
		<div class="row">
			<input id="videopos1" name="videopos1" type="number" class="form-inline">
			<input type="button" class="btn" value="Play" onclick="changeSource('001-Akragas.mp4', 'video/mp4', 'videopos1')">
			<input type="button" class="btn" value="Stop" onclick="stopSource()">
			001-Akragas.mp4
		</div>
		
		<div class="row">
			<input id="videopos2" name="videopos2" type="number" class="form-inline">
			<input type="button" class="btn" value="Play" onclick="changeSource('002-CrimsonRiver.mp4', 'video/mp4', 'videopos2')">
			<input type="button" class="btn" value="Stop" onclick="stopSource()">
			002-CrimsonRiver.mp4
		</div>
		
		<div class="row">
			<video id="videoplayer" width="320" height="240" controls>
				<source src="" type="">
				Your browser does not support the video tag.
			</video>
		</div>
		
		<!--
		<div class="row">
			<form action="." method="POST">
				<textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
				<input type="submit" class="btn btn-success" value="Post comment">
			</form>
		</div>
		-->
		
		</div><!-- /.container -->
		
		<script type="text/javascript">
			function changeSource(url, videotype, videopos) {
				var video = document.getElementById('videoplayer');
				var inputval = document.getElementById(videopos);
        //console.log(inputval.value);
				video.src = url + '#t=' + inputval.value.toString();
        //console.log(video.src);
				video.type = videotype;
				video.play();
				//video.currentTime = inputval.value;
				
				const interval = setInterval(function(){
					inputval.value = Math.round(video.currentTime);
					if(video.paused) {clearInterval(interval);}
					}, 1000);
			}
			
			function stopSource() {
				var video = document.getElementById('videoplayer');
				//var inputval = document.getElementById(videopos);
				//inputval.value = Math.round(video.currentTime);
				video.pause();
			}
		</script>
		
	</body>
</html>

