<html>
	<head>
		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content=width=device-width, initial-scale=1">
		<!-- CSS only 
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		-->
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		
		<title>HTML Video Player</title>
	
	<style>
	div.sticky {
		position: -webkit-sticky;
		position: sticky;
		background-color: #E0E0E0;
		top: 0;
		padding: 30px;
	}
	</style>

	</head>
	
	<body>
	
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">HTML Video Player</a>
				</div>
			</div>
		</nav>
		
		<div class="row, sticky">
			<video id="videoplayer" width="320" height="240" controls>
				<source src="" type="">
				Your browser does not support the video tag.
			</video>
		</div>

		<hr>

		<div class="container">


		{% for entry in playlist_entries %}
			<div class="row">
				{% set entry_id = 'videopos' + loop.index|string %}
				<div>{{entry.filepath}}</div>
				<div>
					<input id="{{entry_id}}" name="{{entry_id}}" value="{{entry.playposition}}" type="number" class="form-inline">
					<input type="button" class="btn" value="Play" onclick="changeSource('{{ url_for('static', filename=entry.filepath) }}', 'video/mp4', '{{entry_id}}')">
					<input type="button" class="btn" value="Pause" onclick="stopSource()">
				</div>
				<hr>
				<!--
				<div display="inline-block" max-width="200px" white-space="nowrap" overflow="hidden" text-overflow="ellipsis">{{entry.filepath}}</div>
				-->
			</div>
		{% endfor %}	
		
		<!--
		<div class="row">
			<form action="." method="POST">
				<textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
				<input type="submit" class="btn btn-success" value="Post comment">
			</form>
		</div>
		-->
		
		</div><!-- /.container -->
		
		<script type="text/javascript">
			
			function fetchGet (video, playposition) {
				var url = "update?video=" + video + "&playposition=" + playposition;
				console.log(url);
				
				fetch(url)
				
				.then((result) => {
					console.log(result);
					if (result.status != 200) { throw new Error("Bad Server Response"); }
					return result.text();
				})
				.then((response) => {
					console.log(response);
				})
				
				.catch((error) => {console.log(error); });
			}
				
			
			function changeSource(url, videotype, videopos) {
				var video = document.getElementById('videoplayer');
				var inputval = document.getElementById(videopos);
        //console.log(inputval.value);
				video.src = url + '#t=' + inputval.value.toString();
        //console.log(video.src);
				video.type = videotype;
				video.play();
				//video.currentTime = inputval.value;
				
				const interval = setInterval(function(){
					inputval.value = Math.round(video.currentTime);
					fetchGet(url.slice('/static/'.length),inputval.value);
					if (video.paused) {clearInterval(interval);}
					}, 1000);
			}
			
			function stopSource() {
				var video = document.getElementById('videoplayer');
				//var inputval = document.getElementById(videopos);
				//inputval.value = Math.round(video.currentTime);
				video.pause();
			}
		</script>
		
	</body>
</html>

